if(containers && containers.length > 0)
	div(style="padding: 24px 0")
		div.mdc-list.mdc-list--two-line.mdc-elevation--z3(style="background-color: white;")
			each container in containers
				a.mdc-list-item(href="#!/" + container.Names[0].split('.')[0].substr(1) + '/ui', data-mdc-auto-init="MDCRipple")
					span.mdc-list-item__start-detail.material-icons
						if container.Labels['databox.type'] === 'store'
							| dns
						else if container.Labels['databox.type'] === 'driver'
							| developer_board
						else if container.Labels['databox.type'] === 'app'
							| extension
						else
							| settings_applications
					span.mdc-list-item__text
						= container.Names[0].split('.')[0].substr(1).replace('databox_', '').replace('app-','').replace('driver-','').replace(/-/g,' ')
						span.mdc-list-item__text__secondary(style=container.State === 'running' ? '' : 'color: #F00')
							= container.State
					svg.mdc-list-item__end-detail.spinner(viewBox="0 0 66 66", xmlns="http://www.w3.org/2000/svg", id=container.Labels['com.docker.swarm.service.name'] + '_spinner', style="display: none")
						circle.path(fill="none", stroke-width="6", stroke-linecap="square", cx="33", cy="33", r="30")
					if container.Labels['databox.type'] === 'store' || container.Labels['databox.type'] === 'driver' || container.Labels['databox.type'] === 'app'
						span(style="display: flex;margin-left: auto", id=container.Labels['com.docker.swarm.service.name'] + '_controls')
							span.material-icons.mdc-list-item__end-detail.mdc-icon-toggle(onclick='app_restart(event, \'' + container.Labels['com.docker.swarm.service.name'] + '\')')
								| refresh
							span.material-icons.mdc-list-item__end-detail.mdc-icon-toggle(onclick='app_uninstall(event, \'' + container.Labels['com.docker.swarm.service.name'] + '\')')
								| close
else
	div(style="padding: 48px; text-align: center")
		| Empty