if apps.length === 0
	div
		| Empty
else
	div(style="padding: 24px 0")
		div.mdc-grid-list.mdc-elevation--z3(style="background-color: white;")
			div.mdc-grid-list__tiles
				each appItem in apps
					a(href="#!/" + appItem[0].manifest.name + '/', title=appItem[0].manifest.name).mdc-grid-tile
						div.mdc-grid-tile__primary
							img.mdc-grid-tile__primary-content(src="icons/android-icon-144.png")
						div
							= appItem[0].displayName
						div.ratings
							div
								i.material-icons.rating
									| lock
								i.material-icons.rating
									| lock
								i.material-icons.rating
									| lock
								i.material-icons.rating.disabled
									| lock
								i.material-icons.rating.disabled
									| lock
							div(style="flex: 1")
							div
								i.material-icons.rating
									| star
								i.material-icons.rating
									| star
								i.material-icons.rating
									| star
								i.material-icons.rating.disabled
									| star
								i.material-icons.rating.disabled
									| star