div.mdc-layout-grid
	div.mdc-layout-grid__inner
		div.mdc-layout-grid__cell--span-2-desktop
		div.mdc-card.mdc-layout-grid__cell.mdc-layout-grid__cell--span-8
			if !error
				section.mdc-card__primary
					h1.mdc-card__title.mdc-card__title--large
						| Connect to a Databox
			else
				section.mdc-card__primary
					h1.mdc-card__title.mdc-card__title--large
						| Connection Error
					h2.mdc-card__subtitle
						| Could not connect to the Databox at&nbsp;
						span#error_host
			section.mdc-card__supporting-text
				| Databox lets you take control of your personal data and IoT devices. See the&nbsp;
				a(href="https://github.com/me-box/databox")
					| documentation
				| &nbsp;for help in setting up a Databox.

			if(qr_scan)
				section.mdc-card__actions
					button.mdc-button.mdc-button--primary(onclick='scanQR()')
						| Scan QR Code
			section.mdc-card__supporting-text
				label.mdc-textfield(style="width: 100%")
					input#connectField.mdc-textfield__input(type='url', style="width: 100%", required=true, onkeypress='submit(event)')
					span.mdc-textfield__label
						| Databox Address

			section.mdc-card__actions
				if error
					button.mdc-card__action.mdc-button.mdc-button--primary(onclick='connect(true)')
						| Retry
				button#connect_button.mdc-card__action.mdc-button.mdc-button--primary(disabled, onclick='connect()')
					| Connect
