div(style="padding: 16px")
	div.mdc-card
		section.mdc-card__media.connectImage
		section.mdc-card__primary
			h1.mdc-card__title.mdc-card__title--large
				| Connection Error
			h2.mdc-card__subtitle
				| Could not find a Databox
		section.mdc-card__supporting-text
			div
				| Enter the address of a databox to continue
			label.mdc-textfield(style="width: 100%")
				input#connectField.mdc-textfield__input(type="text", style="width: 100%")
				span.mdc-textfield__label
					| Databox Address

		section.mdc-card__actions
			button.mdc-card__action.mdc-button.mdc-button--primary(onclick='connect()')
				| Connect
			button.mdc-card__action.mdc-button.mdc-button--primary(onclick='scanQR()')
				| Scan QR Code