if(containers && containers.length > 0)
	div(style="padding: 24px 0")
		div.mdc-list.mdc-list--two-line.mdc-elevation--z3(style="background-color: white;")
			each container in containers
				a.mdc-list-item(href="#!/" + container.name + '/ui', data-mdc-auto-init="MDCRipple")
					span.mdc-list-item__graphic.app-icon-letter-small.mdc-elevation--z1
						= container.name.replace('databox_', '').replace('app-','').replace('driver-','').charAt(0).toUpperCase()
					span.mdc-list-item__text
						= container.name.replace('databox_', '').replace('app-','').replace('driver-','').replace(/-/g,' ')
						span.mdc-list-item__secondary-text(style=container.state === 'running' ? '' : 'color: #F00')
							= container.state
					if container.type !== 'system'
						span(style="display: flex; margin-left: auto")
							if container.desiredState === 'running'
								span.material-icons.mdc-list-item__meta.mdc-icon-toggle(id='restart_' + container.name)
									| refresh
							span.material-icons.mdc-list-item__meta.mdc-icon-toggle(id='uninstall_' + container.name)
								| close
else
	div(style="padding: 48px; text-align: center")
		| Empty