div.mdc-list.mdc-list--two-line
	each container in containers
		div.mdc-list-item
			span.mdc-list-item__start-detail.material-icons
				| store
			span.mdc-list-item__text
				= container.Names[0].split('.')[0].substr(1)
				span.mdc-list-item__text__secondary
					= container.State
			span(style="display: flex;margin-left: auto")
				span(href="#").material-icons.mdc-list-item__end-detail
					| refresh
				span(href="#").material-icons.mdc-list-item__end-detail
					| close
	else
		div
			| Empty