div(style="padding: 16px")
	div.mdc-card
		section.mdc-card__primary
			h1.mdc-card__title.mdc-card__title--large
				| Connection Error
			h2.mdc-card__subtitle
				| Could not find a Databox
		section.mdc-card__supporting-text
			div
				| Enter the address of a databox to continue
			div
				button.mdc-button
