div.mdc-grid-list.mdc-elevation--z3(style="background-color: white; padding: 16px")
	div.mdc-typography--title(style="padding: 8px")
		| Sensors
	each sensor in sensors
		div
			div.mdc-form-field
				div.mdc-checkbox
					input.mdc-checkbox__native-control(type="checkbox", id=sensor + '-checkbox', checked=enabled_sensors.includes(sensor))
					div.mdc-checkbox__background
						svg.mdc-checkbox__checkmark(viewBox="0 0 24 24")
							path.mdc-checkbox__checkmark__path(fill="none", stroke="white", d="M1.73,12.91 8.1,19.28 22.79,4.59")
						div.mdc-checkbox__mixedmark
				label(for=sensor + '-checkbox')
					= sensor