div(style="padding: 16px")
	div.mdc-card
		section(style="display:flex").mdc-card__primary
			img(src='/icons/android-icon-144x144.png')
			div(style="padding-left: 16px")
				div.mdc-card__title--large
					= app[0].displayName
				div.mdc-card__subtitle.mdc-typography--caption
					= app[0].manifest.author.replace(/\s*\(.*?\)\s*/g, '').replace(/\s*<.*?>\s*/g, '')
				div
					i.material-icons
						| star
					i.material-icons
						| star
					i.material-icons
						| star
					i.material-icons.disabled
						| star_outline
					i.material-icons.disabled
						| star_outline
		section.mdc-card__supporting-text
			= app[0].manifest.description
		section.mdc-card__supporting-text(style="display: flex")
			i.material-icons
				| lock
			i.material-icons
				| lock
			i.material-icons
				| lock
			i.material-icons.disabled
				| lock_open
			i.material-icons.disabled
				| lock_open
			div(style="padding: 0 16px")
				| Moderate Risk
		section.mdc-card__supporting-text
			div(style="display: flex; padding-top: 16px")
				i.material-icons(style="padding:8px 16px 0 0; color: #B71C1C")
					| lock
				span.mdc-list-item__text
					| Data
					span.mdc-list-item__text__secondary
						div
							| No granular data settings
						div
							| Sends data to third-party
						div
							| No data access API
						div
							| Possible data leakage
			div(style="display: flex; padding-top: 16px")
				i.material-icons(style="padding:8px 16px 0 0; color: #F57F17")
					| lock
				span.mdc-list-item__text
					| Datasources
					span.mdc-list-item__text__secondary
						div
							| Uses sensors with low security rating
						div
							| Uses sensors not compliant with standards
			div(style="display: flex; padding-top: 16px")
				i.material-icons(style="padding:8px 16px 0 0; color: #1B5E20")
					| lock
				div.mdc-list-item__text
					| Apps
					div.mdc-list-item__text__secondary
						div
							| Actuates class x physical devices
		section.mdc-card__actions
			if(app.length > 1)
				a.mdc-button.mdc-button--compact(style="padding: 5px; color: #666", id="versionButton")
					i.material-icons(style="font-size: 12pt")
						| arrow_drop_down
				div.mdc-simple-menu(id="versionMenu")
					ul.mdc-list.mdc-simple-menu__items
						each appItem in app
							li.mdc-list-item(role="option", id=appItem._id, onclick='selectVersion("' + appItem._id + '")')
								= 'v' + appItem.manifest.version + ' on ' + appItem.store
			a(id="install_link" href="#!/app/" + app[0].manifest.name + "/install").mdc-button.mdc-card__action.mdc-button--primary
				| Install
script
	!= "const installURL = \"#!/app/" + app[0].manifest.name + "/install/\""
script.
	function selectVersion(id) {
		const installLink = document.getElementById('install_link');
		installLink.href = installURL + id;

	}
	const menu = new mdc.menu.MDCSimpleMenu(document.querySelector('#versionMenu'));
	// Add event listener to some button to toggle the menu on and off.
	document.querySelector('#versionButton').addEventListener('click', function () {
		menu.open = !menu.open
	});