div.mdc-layout-grid
	div.mdc-layout-grid__inner
		div.mdc-layout-grid__cell--span-2-desktop
		div.mdc-card.mdc-layout-grid__cell.mdc-layout-grid__cell--span-8
			section.mdc-card__primary
				h2
					| Welcome to Databox
				div
					| Databox lets you take control of your personal data and IoT devices.
				div
					| Get started by:
				ul
					li
						| Install the sensing kit driver. This will allow databox to access the sensors on this mobile phone. This driver is used by some of the demo apps.
					li
						| Install a driver from the&nbsp;
						a(href="#!/driver/store")
							| driver store
						| .
					li
						| Install an app from the&nbsp;
						a(href="#!/driver/app")
							| app store
						| .

				div
					| For more help see the&nbsp;
					a(href="https://github.com/me-box/databox")
						| documentation
					| .