doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover')
		meta(name='mobile-web-app-capable', content="yes")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="theme-color", content="#3f51b5")
		link(rel="manifest", href="icons/manifest.json")
		link(rel="apple-touch-icon", sizes="57x57", href="icons/apple-icon-57.png")
		link(rel="apple-touch-icon", sizes="76x76", href="icons/apple-icon-76.png")
		link(rel="apple-touch-icon", sizes="120x120", href="icons/apple-icon-120.png")
		link(rel="apple-touch-icon", sizes="152x152", href="icons/apple-icon-152.png")
		link(rel="apple-touch-icon", sizes="180x180", href="icons/apple-icon-180.png")
		link(rel="icon", type="image/png", sizes="16x16", href="icons/favicon-16.png")
		link(rel="icon", type="image/png", sizes="32x32", href="icons/favicon-32.png")
		link(rel="icon", type="image/png", sizes="96x96", href="icons/android-icon-96.png")
		link(rel="icon", type="image/png", sizes="192x192", href="icons/android-icon-192.png")
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet', href='css/material-components-web.min.css')
		link(rel='stylesheet', href='css/appstore.css')
		title Databox
		script(src="cordova.js", defer=true)
		script(src='js/material-components-web.min.js', defer=true)
		script(src="js/bundle.js", defer=true)
	body
		header.mdc-toolbar.mdc-toolbar--fixed.mdc-toolbar--fixed.mdc-theme--dark
			div#toolbar.mdc-toolbar__row
				section.mdc-toolbar__section.mdc-toolbar__section--align-start
					a#navicon.mdc-toolbar__menu-icon.material-icons
						| menu
					a#backicon.mdc-toolbar__menu-icon.material-icons
						| arrow_back
					span#toolbartitle.mdc-toolbar__title
						| Databox

				section.mdc-toolbar__section.mdc-toolbar__section--align-end.mdc-toolbar__section--shrink-to-fit
					a#searchicon.mdc-toolbar__icon.material-icons.search.align-icons(title="Search", href="#!/search/")
						| search
				section#toolbaractions.mdc-toolbar__section.mdc-toolbar__section--align-end.mdc-toolbar__section--shrink-to-fit


			div#toolbar-search.mdc-toolbar__row
				section.mdc-toolbar__section.mdc-toolbar__section--align-start
					a#searchbackicon.mdc-toolbar__icon.material-icons
						| arrow_back
					label.mdc-text-field
						input#toolbar-search__input.mdc-text-field__input(placeholder='Search')


		aside.mdc-drawer.mdc-drawer--temporary.mdc-typography
			nav.mdc-drawer__drawer
				header.mdc-drawer__header.mdc-theme--dark
					div.mdc-drawer__header-content(style="background: url('img/boxes_coloured.png'); background-size: cover; color: #FFF")
						div(style="width: 100%;")
							div.mdc-typography--title
								| Databox
							div#hostname.mdc-typography--caption(style="display: none")
				nav#nav.mdc-drawer__content.mdc-list
					a.mdc-list-item(href="#!")
						i.material-icons.mdc-list-item__graphic
							| home
						| Welcome
					a.mdc-list-item(href="#!/store/list/app")
						i.material-icons.mdc-list-item__graphic
							| store
						| App Store
					a.mdc-list-item(href="#!/store/list/driver")
						i.material-icons.mdc-list-item__graphic
							| store
						| Driver Store
					a.mdc-list-item#sensing(href="#!/sensing" style="display: none")
						i.material-icons.mdc-list-item__graphic
							| network_check
						| Mobile Sensor Data
					div.mdc-list-group__subheader(style="margin: 16px 0 0 16px")
						| Installed
					a.mdc-list-item(href="#!/list/app")
						i.material-icons.mdc-list-item__graphic
							| extension
						| Apps
					a.mdc-list-item(href="#!/list/driver")
						i.material-icons.mdc-list-item__graphic
							| developer_board
						| Drivers
					a.mdc-list-item(href="#!/list/store")
						i.material-icons.mdc-list-item__graphic
							| dns
						| Stores
					a.mdc-list-item(href="#!/list/system")
						i.material-icons.mdc-list-item__graphic
							| settings_applications
						| System

		main#content.mdc-toolbar-fixed-adjust.mdc-typography
			include templates/spinner