:root {
	--mdc-theme-primary: #3f51b5;
}

html {
	height: 100%;
}

body {
	background-color: #eee;
	margin: 0;
}

iframe {
	width: 100%;
	height: 100%;
	border: 0;
}

.mdc-textfield__input {
	border-radius: 0;
}

.mdc-card {
	background-color: #fff;
	overflow: hidden;
	justify-content: flex-start;
}

.mdc-card__actions {
	justify-content: flex-end;
}

.mdc-card__media {
	padding: 0;
}

.mdc-card__title {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.mdc-grid-tile {
	--mdc-grid-list-tile-width: 150px;
	display: flex;
	flex-direction: column;
	padding: 0 8px !important;
	margin: 8px 0 !important;
	text-decoration: none;
	color: #111;
}

.mdc-grid-list__tiles {
	justify-content: center;
}

@media (max-width: 479px) {
	.mdc-grid-tile {
		--mdc-grid-list-tile-width: 120px;
	}
}

.mdc-grid-tile__primary {
	background-color: transparent;
	display: contents;
}

.mdc-toolbar__section .material-icons {
	text-decoration: none;
	width: auto;
	height: auto;
	padding: 16px;
}

.mdc-toolbar__title {
	margin: 0;
}

#toolbar-search {
	display: none;
}

#toolbar-search .mdc-toolbar__section {
	align-items: center;
}

#toolbar-search label {
	padding-top: 12px;
}

.app-icon-letter {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	color: #fff;
	border-radius: 5px;
	font-size: 98px;
	background: #3f51b5;
	background: linear-gradient(#6f7dcd, #3f51b5);
	width: 134px;
	height: 134px;
}

.app-icon-letter-small {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	color: #fff;
	border-radius: 2px;
	background: #3f51b5;
	background: linear-gradient(#6f7dcd, #3f51b5);
}

@media (max-width: 479px) {
	.app-icon-letter {
		width: 104px;
		height: 104px;
		font-size: 80px;
	}
}

.app-small {
	border-radius: 3px;
	justify-content: flex-start;
	text-decoration: none;
}

.app-small:hover {

}

.transparent {
	opacity: 0.8;
}

.transparent .badge {
	visibility: hidden;
}

.package {
	display: flex;
	flex-direction: column;
	color: #fff;
	user-select: none;
	cursor: pointer;
	margin-top: 16px;
}

.badge {
	flex: 1;
	text-align: right;
	padding-right: 16px;
}

.ratings {
	display: flex;
	color: #555;
	flex: 1;
	align-items: flex-end;
}

.padded {
	padding: 16px;
}

.dark {
	background-color: #333;
}

.rating {
	font-size: 11px;
}

.disabled {
	color: rgba(0, 0, 0, 0.2);
	cursor: default !important;
}

.datasource {
	cursor: pointer;
	user-select: none;
}

.exchange {
	text-align: center;
	background: #333 url(../img/sla.svg) no-repeat;
	background-size: 100% 100%;
	padding: 16px;
	color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

#navicon {
	visibility: hidden;
}

#backicon {
	display: none;
}

#searchicon {
	display: none;
}

#spinner {
	align-self: center;
	animation: rotator 1.4s linear infinite;
}

.spinner {
	align-self: center;
	animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(270deg);
	}
}

.path {
	stroke-dasharray: 187;
	stroke-dashoffset: 0;
	stroke: #ff8f00;
	transform-origin: center;
	animation: dash 1.4s ease-in-out infinite
}

@keyframes dash {
	0% {
		stroke-dashoffset: 187;
	}
	50% {
		stroke-dashoffset: 46.75;
		transform: rotate(135deg);
	}
	100% {
		stroke-dashoffset: 187;
		transform: rotate(450deg);
	}
}